<section id="aa-catg-head-banner">
  <img src="../../../assets/images/login-inner-bnr.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
   <div class="container">
    <div class="aa-catg-head-banner-content">


    </div>
   </div>
 </div>
</section>
<!-- / catg header banner section -->



<section id="aa-myaccount">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="aa-myaccount-area">

  <div class="aa-myaccount-login">
  <h4>Login</h4>
  <form [formGroup]="loginFormGroup">
    <div class="p-grid p-mt-6">
      <div class="p-col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input type="text" formControlName="email" pInputText placeholder="Email" />
        </div>
        <small *ngIf="loginForm['email'].invalid && isSubmitted" class="p-error"
          ><span *ngIf="loginForm['email'].errors?.['required']">email is required</span>
          <span *ngIf="loginForm['email'].errors?.['email']">email is invalid</span></small
        >
      </div>
      <div class="p-col-12">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
          <input
            type="password"
            formControlName="password"
            pInputText
            placeholder="Password"
          />
        </div>
        <small *ngIf="loginForm['password'].invalid && isSubmitted" class="p-error"
          >Password is required
        </small>
      </div>
      <div class="p-col-12">
        <p-button label="Submit" styleClass="full-btn" (onClick)="onSubmit()"></p-button>
      </div>
      
    </div>
  </form>
  </div>
</div>

</div>

</div>
</div>



